<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
    <style>.wrapper{width:100%}#outlook a{padding:0}body{font-size: 16px; color: rgb(64, 64, 64); width:100% !important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;Margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body,table.body,h1,h2,h3,h4,h5,h6,p,td,th,a{font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", Calibri, Helvetica, sans-serif;font-weight:normal;padding:0;margin:0;Margin:0;text-align:left;line-height:1.3}h1,h2,h3,h4,h5,h6{color:inherit;word-wrap:normal;font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px}</style>
    {% block head %}{% endblock %}
</head>
<body>
    <span class="preheader"></span>
    {% block body %}
    {% endblock %}
</body>
</html>