{% extends 'mails/layout.html' %}
{% block body %}
<div bgcolor="#f8f8f8" style="margin:0px;padding:1rem 0px;background-color:#f8f8f8">
    <p style="text-align: center; font-size: x-small;"><small style="color:#cecece">Orden de Pago #{{orden.id}} {% if orden.estado == 'pendiente' %}Pendiente de pago{% endif %}</small></p>
    <table border="0" width="600" style="margin: 0 auto; border:0;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="background-color: white; padding: 1rem; border:1px solid #e8e8e8;font-family:Helvetica,Arial,sans-serif;color:#000000">

                <table width="100%" style="font-size: large;">
                    <tbody>
                        <tr>
                            <td width="50%">
                                <p style="color: rgb(37, 37, 37);"><b style="font-size: x-large;">{{config.nombre_comercial|upper}}</b><br>
                                    RUC: {{config.ruc}}<br>
                                    {{config.telefono}}
                                </p>
                            </td>
                            <td style="text-align: right;">
                                <p align="right" style="color: rgb(64, 64, 64); text-align: right;"><b>Orden de Pago<br>
                                        #{{orden.id}}</b></p>
                                {% if orden.estado == 'pendiente' %}
                                <p align="right" style="color: orange; text-align: right;"><b>PENDIENTE</b></p>
                                {% endif %}
                                {% if orden.estado == 'pagado' %}
                                <p align="right" style="color: green; text-align: right;font-size: x-large;"><b>PAGADO</b></p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr style="margin: 1rem 0; border: 0; border-top: 1px solid #ddd;">
                <p style="font-size:large;"><b>Para:</b><br>
                    {{orden.empresa.nombre}} <br>
                    {% if orden.empresa.documento_numero %}
                    {{orden.empresa.documento_tipo}}: {{orden.empresa.documento_numero}}<br>
                    {% endif %}
                    {{orden.empresa.telefono}}
                </p>
                <hr style="margin: 1rem 0; border: 0;">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><b>F. Generado</b></td>
                        <td>: {{orden.created_at | date_peru}} </td>
                        <td><b>Tipo</b></td>
                        <td>: {% if orden.renovacion %}Renovaci&oacute;n{% else %}Nuevo{% endif %} </td>
                    </tr>
                    <tr>
                        <td><b>F. Vencimiento</b></td>
                        <td>: {{orden.fecha_vencimiento | date_peru}}</td>
                        <td><b>Moneda</b></td>
                        <td>: {{orden.moneda}}</td>
                    </tr>
                </table>
                <hr style="margin: 1rem 0; border: 0;">
                <table width="100%" cellspacing="0" cellpadding="5" style="font-size: medium;">
                    <thead>
                        <tr bgcolor="#ddd">
                            <th style="width: 80px;">Cant.</th>
                            <th>Descripci&oacute;n</th>
                            <th align="right" style="text-align: right;width: 100px;">P. Unitario</th>
                            <th align="right" style="text-align: right;width: 100px;">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody style="color: rgb(102, 102, 102);">
                        {% for item in orden['items'] %}
                        <tr>
                            <td align="center">{{item.cantidad}} {{item.unidad_medida}}</td>
                            <td>{{item.descripcion}}</td>
                            <td align="right" style="text-align: right;">{{'%0.2f'|format(item.precio_unitario|float)}}
                            </td>
                            <td align="right" style="text-align: right;">
                                {{'%0.2f'|format(item.cantidad * item.precio_unitario | float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="right" colspan="3">
                                <p style="text-align: right;">
                                    <b>Sub Total</b> <br>
                                    <b>Descuento</b><br>
                                    <b>Total</b>
                                </p>
                            </td>
                            <td align="right">
                                <p style="text-align: right;">
                                    {{'%0.2f'|format(orden.sub_total | float)}}<br>
                                    {{'%0.2f'|format(orden.descuento | float)}}<br>
                                    {{orden.moneda}} {{'%0.2f'|format((orden.sub_total - orden.descuento) | float)}}
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {% if orden.observacion %}<p><b>Obs:</b> {{orden.observacion}}</p>{% endif %}
            </td>
        </tr>
    </table>
</div>
<p style="text-align: center;">
    -atte-<br>
    {{config.razon_social | upper }} TEAM<br>
    <small>E-mail: {{config.email}}</small><br>
    <small>Tel. {{config.telefono}}</small> <br>
    <small>{{config.direccion}}</small>
</p>
{% endblock %}